<div class="footer-left">
  <span *ngFor="let leftAction of app.footerActions.left" class="entry-left">{{ leftAction.text }}</span>
</div>
<div class="footer-middle">
  <span *ngFor="let middleAction of app.footerActions.middle" class="entry-middle">{{ middleAction.text }}</span>
</div>
<div class="footer-right">
  <div class="footer-entry">
    <span *ngFor="let rightAction of app.footerActions.right" class="entry-right">{{ rightAction.text }}</span>
    <span *ngIf="app.footerActions.right.length > 0 && !app.env.licenseValid" class="footer-right-divider">|</span>
    <span *ngIf="!app.env.licenseValid">
      <a href="https://ganymede.dev" target="_blank">{{ app.features?.licenseFooter?.messageHTML }}</a>
    </span>
  </div>
</div>
