:host {
  width:100%;
  font-size:10px;
  max-height:24px;
  background-color:#444444;
  display: flex;
  justify-content: space-between;
  white-space:nowrap;
  font-family: Metropolis,"Avenir Next","Helvetica Neue",Arial,sans-serif;
  font-weight: 100;
  text-shadow: none;
  
  a {
    color: inherit;
  }
  a:hover {
    text-decoration: none;
  }
}

.footer-left {
  color:white;
  max-height:inherit;
  overflow-y:hidden;
  padding-left:20px;
}

.footer-middle {
  color:white;
  max-height:inherit;
  overflow-y:hidden;
}

.footer-right {
  color:white;
  max-height:inherit;
  overflow-y:hidden;
  padding-right:10px;
}

.footer-right-divider {
  color:rgba(255,255,255,0.33);
  margin: 0 0.5rem;
}

.footer-entry {
  color:rgba(255,255,255,0.8);
  max-height:inherit;
  overflow-y:hidden;
  margin-top:0px;
}
