:host ::ng-deep .login-wrapper {
  // background: none;
  > form {
    flex-shrink: 0;
  }
  .login .login-group {
    padding-top: 1.5rem;
    .btn {
      margin-top: 1rem;
    }
  }
}

.logo-img {
  max-width: 4rem;
  max-height: 4rem;
}

.bg-img-cont {
  display:flex;
  flex-grow:1;
  overflow: hidden;
  flex: 1;
  .bg-img {
    max-height:100%;
    height:auto;
  }
}

@media only screen and (max-width: 768px) {
  .bg-img-cont {
    display: none;
  }
}
