<!-- <div class="alert alert-app-level"></div> -->
<clr-header>
  <div class="branding branding-margins">
    <a [routerLink]="[app.landingPath]" class="nav-link">
      <div *ngIf="!app.subtitle && !app.toptitle">
        <img [src]="app.src(app.icon)" class="clr-icon branding-icon app-logo header-app-logo"/>
        <div class="title normal-title">{{ app.name }}</div>
      </div>
      <div *ngIf="app.toptitle && !app.subtitle">
        <div class="title top-title"><b>{{ app.toptitle }}</b></div>
        <img [src]="app.src(app.icon)" class="clr-icon branding-icon app-logo header-app-logo header-app-logo-toptitle"/>
        <div class="title normal-title title-on-bottom">{{ app.name }}</div>
      </div>
      <div *ngIf="app.subtitle && !app.toptitle">
        <div class="title sub-title"><b>{{ app.subtitle }}</b></div>
        <img [src]="app.src(app.icon)" class="clr-icon branding-icon app-logo header-app-logo header-app-logo-subtitle"/>
        <div class="title normal-title title-on-top">{{ app.name }}</div>
      </div>
    </a>
  </div>
  <div class="header-nav">
      <a *ngFor="let item of menuList" [id]="'topmenu-item-'+item.path" [routerLink]="[item.path]" class="nav-link nav-text">{{ item.name | translate }}</a>
  </div>
  <div *ngIf="app.headerActions" class="header-actions">
    <div *ngIf="app.header?.search?.enabled" class="header-search-container">
      <form class="search header-search-form">
        <label for="header-search-input" class="header-search-label">
          <input id="header-search-input" type="text" class="header-search-input" placeholder="Search for keywords...">
        </label>
      </form>
    </div>
    <clr-dropdown *ngFor="let headerAction of app.headerActions" class="header-action-item">
        <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
            <cds-icon [attr.shape]="headerAction.icon.value"></cds-icon>
            <cds-icon shape="caret down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a *ngFor="let headerActionItem of headerAction.list"
              [routerLink]="(headerActionItem.type === 'link') ? [headerActionItem.data] : undefined"
              (click)="runCommand(headerActionItem.data)"
              clrDropdownItem
            >
              {{ headerActionItem.text | translate }}
            </a>
        </clr-dropdown-menu>
    </clr-dropdown>
    <div class="header-action-item" style="height:1px; width:12px; pointer-events: none;"></div>
    <ng-content #headerOtherContent></ng-content>
  </div>
</clr-header>
