<section class="sidenav-content">
  <div class="header-nav main-menu-container nav-group" *ngIf="this.app.displayMode === 'NARROW'">
    <section class="main-menu-section">
      <!-- <label [for]="'main-menu-item-' + idemGuard + '-' + i" class="main-menu">Main Menu</label> -->
      <ul class="nav-list">
        <li *ngFor="let item of menuList" class="bigger-item">
          <a [id]="'main-menu-item-'+item.path" [routerLink]="[item.path]" class="nav-link bigger-item-a">{{ item.name | translate }}</a>
        </li>
      </ul>
    </section>
  </div>
  <!-- <section *ngIf="this.app.displayMode === 'NARROW' && navItems && navItems.length > 0">
    <label>Test</label>
    <ul class="nav-list"></ul>
  </section> -->
  <ng-template ngFor let-itemData [ngForOf]="navItems" let-i="index">
    <a *ngIf="!itemData.children" [ngClass]="{'active': router.url === '/' + itemData.link}"
        [routerLink]="[itemData.link]" (click)="endHere($event)" class="nav-link">{{ itemData.name | translate }}</a>
    <section *ngIf="itemData.leftNavType !== 'category' && itemData.children?.length"
      [ngClass]="{'active': navActiveStatus(itemData)}" (click)="endHere($event)" class="nav-group collapsible">
      <input [id]="'sidenav-item-' + idemGuard + '-' + i" type="checkbox">
      <label [for]="'sidenav-item-' + idemGuard + '-' + i">{{ itemData.name | translate }}</label>
      <ul class="nav-list">
        <ng-template ngFor let-item [ngForOf]="itemData.children" let-i="itemIndex">
          <li [ngClass]="{'hollow-disabled': item.defunct}">
            <a class="nav-link"
                [ngClass]="{'active': navActiveStatus(item)}"
                [routerLink]="getRouterLink(item)"
                [queryParamsHandling]="getQueryParamsHandling(item)"
                (click)="endHere($event)">{{ item.name | translate }}</a>
          </li>
        </ng-template>
      </ul>
    </section>
    <section *ngIf="itemData.leftNavType === 'category' && itemData.children?.length"
      [ngClass]="{'active': navActiveStatus(itemData)}"
      [routerLink]="itemData.hasContent ? [itemData.link] : null" (click)="endHere($event)" class="nav-group">
      <input [id]="'sidenav-item-' + idemGuard + '-' + i" type="checkbox">
      <label [for]="'sidenav-item-' + idemGuard + '-' + i">{{ itemData.name | translate }}</label>
      <ul class="nav-list">
        <ng-template ngFor let-item [ngForOf]="itemData.children" let-i="itemIndex">
          <li [ngClass]="{'hollow-disabled': item.defunct}">
            <a class="nav-link"
              [ngClass]="{'active': navActiveStatus(item)}"
              [routerLink]="getRouterLink(item)"
              [queryParamsHandling]="getQueryParamsHandling(item)"
              (click)="endHere($event)">{{ item.name | translate }}</a>
          </li>
        </ng-template>
      </ul>
    </section>
  </ng-template>
</section>