<div *ngIf="contentNotCurrentLang" class="not-preferred-lang">
  This content is not available in {{app.lang}}
</div>
<!-- <div id="editor">{{ 'test.test' | translate:tparam({ age: 10, gender: getGender() }) }}</div> -->
<!-- <div id="editor">{{ 'test.test' | translate:tparam('age=10, gender=boy') }}</div> -->
<!-- <ckeditor [editor]="Editor" data="<p>Hello, world!</p>" [config]="editorConfig" (ready)="onReady($event)"></ckeditor> -->
<div class="md-content-container">
  <div #notFoundMessage class="not-found-container">
    <div *ngIf="contentNotFound">
      Cannot find markdown (.md) content for '{{ contentData?.name | translate }}' ({{contentPath}})
    </div>
  </div>
  <div #outputArea></div>
  <markdown-frame #markdownFrame class="korean" style="zoom: 115%;"></markdown-frame>
</div>