<ng-container *ngIf="moData && data">
  <h3 class="vcenter-title" style="margin-top: 0.65rem; margin-left: 0.9rem; margin-bottom: 0.1rem;">
    <cds-icon shape="cloud-network" size="md"></cds-icon>
    {{ data.name }}
  </h3>
  <div *ngIf="moDataHasOwner() || (moData.parent && moData.parent.indexOf('$mo:Datacenter:datacenter') === -1)" style="margin-left: 0.9rem; margin-bottom: 0.1rem;">
    <span style="margin-right: 0.25rem;">Parent: </span>
    <gany-ext-native-infra-vcenter-entity-link [entityId]="moData.parent" [inventoryStubs]="inventoryStubs"></gany-ext-native-infra-vcenter-entity-link>
  </div>
  <gany-grid [minWidth]="'540px'" class="mtop" style="width: calc(100% - 1rem); padding-left: 1rem;">
    <!-- Status Section -->
    <div class="card grid-card">
      <div class="card-header">Status & Info</div>
      <div class="card-block card-block-content">
        <div class="card-text card-content">
          <clr-stack-view>
            <!-- Name -->
            <clr-stack-block [clrStackViewLevel]="1" [clrStackViewSetsize]="3" [clrStackViewPosinset]="1">
              <clr-stack-label>Name</clr-stack-label>
              <clr-stack-content>{{ data.name }}</clr-stack-content>
            </clr-stack-block>
            <!-- Product -->
            <clr-stack-block [clrStackViewLevel]="1" [clrStackViewSetsize]="3" [clrStackViewPosinset]="1">
              <clr-stack-label>Product</clr-stack-label>
              <clr-stack-content>{{ data.info.product }}</clr-stack-content>
              <clr-stack-block [clrStackViewLevel]="2" [clrStackViewSetsize]="3" [clrStackViewPosinset]="1">
                <clr-stack-label>UUID</clr-stack-label><clr-stack-content>{{ data.info.uuid }}</clr-stack-content>
              </clr-stack-block>
            </clr-stack-block>
            <!-- Ports -->
            <clr-stack-block [clrStackViewLevel]="1" [clrStackViewSetsize]="3" [clrStackViewPosinset]="1">
              <clr-stack-label>Ports</clr-stack-label>
              <clr-stack-content>{{ data.status.ports }}</clr-stack-content>
            </clr-stack-block>
            <!-- Uplink Portgroup -->
            <clr-stack-block *ngIf="data.status.uplinkPortgroup" [clrStackViewLevel]="1" [clrStackViewSetsize]="3" [clrStackViewPosinset]="1">
              <clr-stack-label>Uplink Portgroup</clr-stack-label>
              <gany-ext-native-infra-vcenter-entity-link [entityId]="data.status.uplinkPortgroup" [inventoryStubs]="inventoryStubs"></gany-ext-native-infra-vcenter-entity-link>
            </clr-stack-block>
            <!-- NSX Supported -->
            <clr-stack-block [clrStackViewLevel]="1" [clrStackViewSetsize]="3" [clrStackViewPosinset]="1">
              <clr-stack-label>NSX Supported</clr-stack-label>
              <clr-stack-content>{{ moData.capability.featuresSupported.nsxSupported ? 'Yes' : 'No' }}</clr-stack-content>
            </clr-stack-block>
            <!-- Max MTU -->
            <clr-stack-block [clrStackViewLevel]="1" [clrStackViewSetsize]="3" [clrStackViewPosinset]="1">
              <clr-stack-label>Max MTU</clr-stack-label>
              <clr-stack-content>{{ moData.config.maxMtu }}</clr-stack-content>
            </clr-stack-block>
            <!-- Multicast Filtering -->
            <clr-stack-block [clrStackViewLevel]="1" [clrStackViewSetsize]="3" [clrStackViewPosinset]="1">
              <clr-stack-label>Multicast Filtering</clr-stack-label>
              <clr-stack-content>{{ moData.config.multicastFilteringMode }}</clr-stack-content>
            </clr-stack-block>
            <!-- pNIC Reservation Cap. -->
            <clr-stack-block [clrStackViewLevel]="1" [clrStackViewSetsize]="3" [clrStackViewPosinset]="1">
              <clr-stack-label>pNIC Reservation Cap.</clr-stack-label>
              <clr-stack-content>{{ moData.config.pnicCapacityRatioForReservation + '%' }}</clr-stack-content>
            </clr-stack-block>
            <!-- Time Created -->
            <clr-stack-block [clrStackViewLevel]="1" [clrStackViewSetsize]="3" [clrStackViewPosinset]="1">
              <clr-stack-label>Time Created</clr-stack-label>
              <gany-time-view [time]="moData.config.createTime" [showDelta]="true"></gany-time-view>
            </clr-stack-block>
          </clr-stack-view>
        </div>
      </div>
    </div>
    <!-- Portgroups Section -->
    <div class="card grid-card" *ngIf="moData.portgroup">
      <clr-datagrid>
        <clr-dg-column>Port Groups ({{ moData.portgroup.length }})</clr-dg-column>
        <clr-dg-row *clrDgItems="let pgId of moData.portgroup">
          <clr-dg-cell>
            <gany-ext-native-infra-vcenter-entity-link [entityId]="pgId" [inventoryStubs]="inventoryStubs"></gany-ext-native-infra-vcenter-entity-link>
          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ pagination.totalItems }} Port Group(s)
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </div>
    <!-- VM Section -->
    <div class="card grid-card" *ngIf="moData.summary.vm">
      <clr-datagrid>
        <clr-dg-column>Virtual Machines ({{ moData.summary.vm.length }})</clr-dg-column>
        <clr-dg-row *clrDgItems="let vmId of moData.summary.vm">
          <clr-dg-cell>
            <gany-ext-native-infra-vcenter-entity-link [entityId]="vmId" [inventoryStubs]="inventoryStubs"></gany-ext-native-infra-vcenter-entity-link>
          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ pagination.totalItems }} VM(s)
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </div>
    <!-- Host Member Section -->
    <div class="card grid-card" *ngIf="moData.summary.hostMember">
      <clr-datagrid>
        <clr-dg-column>Virtual Machines ({{ moData.summary.hostMember.length }})</clr-dg-column>
        <clr-dg-row *clrDgItems="let hostId of moData.summary.hostMember">
          <clr-dg-cell>
            <gany-ext-native-infra-vcenter-entity-link [entityId]="hostId" [inventoryStubs]="inventoryStubs"></gany-ext-native-infra-vcenter-entity-link>
          </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ pagination.totalItems }} Host Member(s)
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </div>
  </gany-grid>
  <div class="mbot5"></div>
</ng-container>
